.btnFullScreen {
    color: #858585;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 60px;
    height: 52px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
    &.active {
      color: #F05A28;
    }
    &:hover {
      color: #F05A28;
    }
  }