@import "../../../../var";
@import "~antd/lib/style/themes/default";

.publish {
  padding: 10px;

  .tipConfigNotSelect {
    text-align: center;
    padding: 20px;
    color: @secondColor;
  }

  .instanceListLoading {
    width: 100%;
    text-align: center;
    padding: 50px;
    color: @secondColor;
  }

  .instanceList {
    margin: 10px 0 0 0;
    padding: 0;

    li {
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      background-color: #2a2d2e;

      &:nth-child(n + 2) {
        margin-top: 10px;
      }

      &:hover {
        background-color: #3d3d3d;
      }

      &:active {
        background-color: #444;
      }

      .instanceName {
        display: grid;
        grid-template-columns: 30px auto;

        .icon {
          font-size: 18px;
        }
      }

      .instanceStatus {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        margin-top: 10px;
        font-size: 12px;

        > div {
          text-align: center;
          border-radius: 5px;

          &.statusSynced {
            background-color: @success-color;
          }

          &.statusNotSynced {
            background-color: @error-color;
          }
        }

      }

    }
  }
}
