@import "./var";

.container {
  display: grid;
  grid-template-columns: 300px auto;
  min-height: @editorH;
  height: 60vh;
  background-color: #1e1e1e;

  .main {
    position: relative;
    width: 100%;
    height: @editorH;
  }
}
